<!DOCTYPE html>
<html ng-app="conversorMoeda">
<head>
    <title>Conversor de Moedas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="conversorController">
        <label for="type">De:</label>
                <select class="form-control" id="type" ng-model="fromCurrency" ng-change="changeType()" required>
                    <option value="USD">Dólar Americano</option>
                    <option value="EUR">Euro</option>
                    <option value="JPY">Iene Japonês</option>
                    <option value="GBP">Libra Esterlina</option>
                    <option value="AUD">Dólar Australiano</option>
                    <option value="CAD">Dólar Canadense</option>
                    <option value="CHF">Franco Suíço</option>
                    <option value="CNY">Yuan Chinês</option>
                    <option value="SEK">Coroa Sueca</option>
                    <option value="NZD">Dólar Neozelandês</option>
                    <option value="MXN">Peso Mexicano</option>
                    <option value="SGD">Dólar de Singapura</option>
                    <option value="HKD">Dólar de Hong Kong</option>
                    <option value="NOK">Coroa Norueguesa</option>
                    <option value="KRW">Won Sul-coreano</option>
                    <option value="TRY">Lira Turca</option>
                    <option value="RUB">Rublo Russo</option>
                    <option value="INR">Rupia Indiana</option>
                    <option value="BRL">Real Brasileiro</option>
                    <option value="ZAR">Rand Sul-africano</option>
                    <option value="ARS">Peso Argentino</option>
                    <option value="BDT">Taka de Bangladesh</option>
                    <option value="CLP">Peso Chileno</option>
                    <option value="COP">Peso Colombiano</option>
                    <option value="CZK">Coroa Checa</option>
                    <option value="DKK">Coroa Dinamarquesa</option>
                    <option value="EGP">Libra Egípcia</option>
                    <option value="HUF">Forint Húngaro</option>
                    <option value="IDR">Rupia Indonésia</option>
                    <option value="ILS">Novo Shekel Israelense</option>
                    <option value="KES">Xelim Queniano</option>
                    <option value="LKR">Rupia do Sri Lanka</option>
                    <option value="MYR">Ringgit Malaio</option>
                    <option value="NGN">Naira Nigeriana</option>
                    <option value="PEN">Sol Peruano</option>
                    <option value="PHP">Peso Filipino</option>
                    <option value="PKR">Rupia Paquistanesa</option>
                    <option value="PLN">Złoty Polonês</option>
                    <option value="RON">Leu Romeno</option>
                    <option value="SAR">Rial Saudita</option>
                    <option value="TWD">Dólar Taiwanês</option>
                    <option value="THB">Baht Tailandês</option>
                    <option value="UAH">Hryvnia Ucraniana</option>
                    <option value="VND">Dong Vietnamita</option>
                    <option value="ZWL">Dólar Zimbabuense</option>                    
                </select>
        <br>

        <label for="type">Para:</label>
                <select class="form-control" id="type" ng-model="toCurrency" ng-change="changeType()" required>
                    <option value="USD">Dólar Americano</option>
                    <option value="EUR">Euro</option>
                    <option value="JPY">Iene Japonês</option>
                    <option value="GBP">Libra Esterlina</option>
                    <option value="AUD">Dólar Australiano</option>
                    <option value="CAD">Dólar Canadense</option>
                    <option value="CHF">Franco Suíço</option>
                    <option value="CNY">Yuan Chinês</option>
                    <option value="SEK">Coroa Sueca</option>
                    <option value="NZD">Dólar Neozelandês</option>
                    <option value="MXN">Peso Mexicano</option>
                    <option value="SGD">Dólar de Singapura</option>
                    <option value="HKD">Dólar de Hong Kong</option>
                    <option value="NOK">Coroa Norueguesa</option>
                    <option value="KRW">Won Sul-coreano</option>
                    <option value="TRY">Lira Turca</option>
                    <option value="RUB">Rublo Russo</option>
                    <option value="INR">Rupia Indiana</option>
                    <option value="BRL">Real Brasileiro</option>
                    <option value="ZAR">Rand Sul-africano</option>
                    <option value="ARS">Peso Argentino</option>
                    <option value="BDT">Taka de Bangladesh</option>
                    <option value="CLP">Peso Chileno</option>
                    <option value="COP">Peso Colombiano</option>
                    <option value="CZK">Coroa Checa</option>
                    <option value="DKK">Coroa Dinamarquesa</option>
                    <option value="EGP">Libra Egípcia</option>
                    <option value="HUF">Forint Húngaro</option>
                    <option value="IDR">Rupia Indonésia</option>
                    <option value="ILS">Novo Shekel Israelense</option>
                    <option value="KES">Xelim Queniano</option>
                    <option value="LKR">Rupia do Sri Lanka</option>
                    <option value="MYR">Ringgit Malaio</option>
                    <option value="NGN">Naira Nigeriana</option>
                    <option value="PEN">Sol Peruano</option>
                    <option value="PHP">Peso Filipino</option>
                    <option value="PKR">Rupia Paquistanesa</option>
                    <option value="PLN">Złoty Polonês</option>
                    <option value="RON">Leu Romeno</option>
                    <option value="SAR">Rial Saudita</option>
                    <option value="TWD">Dólar Taiwanês</option>
                    <option value="THB">Baht Tailandês</option>
                    <option value="UAH">Hryvnia Ucraniana</option>
                    <option value="VND">Dong Vietnamita</option>
                    <option value="ZWL">Dólar Zimbabuense</option>                   
                </select>
        <br>

        <label>Quantia: </label>
        <input type="text" ng-model="amount">
        <br>
        <button ng-click="convert()">Converter</button>
        <p>Resultado: {{result}}</p>
    </div>
</body>
</html>